<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://arf20.com/style.css">
        <title>ARFNET</title>
        <style>
.searchform {
    margin-bottom: 2em;
}

.box {
    margin-bottom: 1em;
    width: 50%;
    min-width: 400px;
    display: block;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline label {

}

.form-inline input {
    flex-grow: 1;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ddd;
}

.form-inline button {
    border: none;
}

.label {
    display: inline-block;
    width: 200px;
}

.advanced {
    margin-left: 1em;
}

.collapse-title {
    font-weight: bold;
}

.sort-left {
    display: inline-block;
}

.sort-right {
    display: inline-block;
}

.result-header {
    margin-bottom: 1em;
}

.result {
    margin-left: 1em;
    margin-bottom: 1em;
}

.name {
    font-weight: bold;
    font-size: 16pt;
    margin: 0;
}

.mime {
    font-size: 10pt;
    margin-left: 10pt;
}

.path {
    
}

.attrib {
    float: right;
}

.size {

}

.time {
    margin-left: 2em;
}

.sort-name {
    font-size: 16pt;
    margin: 0;
}

.sort-active {
    font-weight: bold;
}
</style>
    </head>

    <body>
        <header><a href="http://arf20.com">
            <img src="http://arf20.com/arfnet_logo.png" width="64"><span class="title"><strong>ARFNET</strong></span>
        </a></header>
        <hr>
        <main>
            <h2 class="center">Search</h2>
            <p>Search all of the ARFNET content fast</p>
            <form class="searchform" action="/query" method="get">
                <div class="box form-inline">
                    <input class="input" type="text" name="q" value="%s">
                    <button type="submit">Search</button><br>
                </div>
                <div>
                    <details class="advanced">
                        <summary class="collapse-title">Advanced</summary>
                        <p>
                            <label class="label">Search type</label>
                            <input type="radio" id="substr" name="t" value="s" checked="checked">
                            <label for="substr">substring</label>
                            <input type="radio" id="substr_nocase" name="t" value="i">
                            <label for="substr_nocase">case insensitive substring</label>
                            <input type="radio" id="exact" name="t" value="e">
                            <label for="exact">exact</label>
                            <input type="radio" id="regex" name="t" value="r">
                            <label for="regex">regex</label>
                        </p>
                        <p>
                            <label class="label" for="mtime_start">Timeframe start</label>
                            <input type="date" id="mtime_start" name="ftl" value="%s"><br>
                        </p>
                        <p>
                            <label class="label" for="mtime_end">Timeframe end</label>
                            <input type="date" id="mtime_end" name="fth" value="%s"><br>
                        </p>
                        <p>
                            <label class="label" for="size_start">Size lower bound</label>
                            <input type="text" id="size_start" name="fsl" value="%s"><br>
                        </p>
                        <p>
                            <label class="label" for="size_end">Size upper bound</label>
                            <input type="text" id="size_end" name="fsh" value="%s"><br>
                        </p>
                    </details>
                </div>
            </form>
            <hr>
            %s
            %s
        </main>
    </body>
</html>

